.userbar{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
    color: beige;
    background-color: #143bff;
    border-radius: 10px;
}
.userbar .header{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}