
.main{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-areas:
            "h h"
            "m d"
            "f f";
    grid-template-columns: 230px;
}